/*Typography*/

@font-face {font-family: 'NeueHaasUnicaPro-Regular';src: url('webfonts/2DE067_C_0.eot');src: url('webfonts/2DE067_C_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2DE067_C_0.woff2') format('woff2'),url('webfonts/2DE067_C_0.woff') format('woff'),url('webfonts/2DE067_C_0.ttf') format('truetype');}


@font-face {font-family: 'NeueHaasUnicaPro-Medium';src: url('webfonts/2DE067_A_0.eot');src: url('webfonts/2DE067_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2DE067_A_0.woff2') format('woff2'),url('webfonts/2DE067_A_0.woff') format('woff'),url('webfonts/2DE067_A_0.ttf') format('truetype');}


@font-face {font-family: 'NeueHaasUnicaPro-Bold';src: url('webfonts/2DE067_3_0.eot');src: url('webfonts/2DE067_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2DE067_3_0.woff2') format('woff2'),url('webfonts/2DE067_3_0.woff') format('woff'),url('webfonts/2DE067_3_0.ttf') format('truetype');}

.NeueHaasUnicaPro-Bold { font-family: NeueHaasUnicaPro-Bold; }
.NeueHaasUnicaPro-Medium { font-family: NeueHaasUnicaPro-Medium; }
.NeueHaasUnicaPro-Regular { font-family: NeueHaasUnicaPro-Regular; }

/*Buttons */

button {
  color: red;
  color: black;
  background-color: white;
  border-radius: 0px;
  font-weight: normal;
  padding: 0 45px;
  opacity: 1;
  transition: all .1s ease-in;
  margin-left: 6em;
}

button:hover {
  opacity: .8;
  border: 1px solid white;
}

.delete {
    background-color: transparent;
    color: white;
    border: 2px solid white;

    margin-left: 0px;
}

.delete:focus {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-left: 0px;
    opacity: .5;
}

.delete:active {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-left: 0px;
    opacity: .5;
}


.delete:hover {
    opacity: 1;
    color: white;
    background-color: #FB0D1B;
    border: 2px solid #FB0D1B;
}

.delete:active {
    opacity: 1;
    color: white;
    background-color: #FB0D1B;
    border: 2px solid #FB0D1B;
}



/*Site Header & Nav Toggle*/

.site-header {
    display: block;
}
.site-header--active a {
    color: white;
    transition: none;
}
.site-header a:hover {
    color: black;
    cursor: pointer;
}
.site-header--active a:hover {
    color: white;
}
.site-header__fixer {
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    transition: height 0s 0.25s
}

.site-header__background-1 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #FFF;
    height: 89px;
}
.site-header__background-2 {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0s 0.25s ease, opacity 0.25s ease;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0000F0;
}
.site-header--active .site-header__background-2 {
    opacity: 1;
    height: 100%;
    transition: height 0s, opacity 0.25s ease;
}
.site-header__header {
    position: relative;
}
.site-header__foreground {
    position: relative;
    clear: both;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}
.site-header__logo {
    font-family: 'NeueHaasUnicaPro-Medium', sans-serif;
    color: black;
    font-size: 28px;
    display: block;
    margin: 0 auto;
    text-align: left;
}

.site-header__toggle {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 22px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
}
.site-header__toggle span {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: block;
    margin: 4px 0;
    height: 3px;
    background: #22222a
}
.is-resizing .site-header__toggle span {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none
}
.site-header__toggle span:nth-child(3) {
    margin-top: -7px;
}
.site-header--active .site-header__toggle span {
    background: white
}
.site-header--active .site-header__toggle span:nth-child(1) {
    -webkit-transform: scale(0) translateY(7px);
    -moz-transform: scale(0) translateY(7px);
    -ms-transform: scale(0) translateY(7px);
    -o-transform: scale(0) translateY(7px);
    transform: scale(0) translateY(7px)
}
.site-header--active .site-header__toggle span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}
.site-header--active .site-header__toggle span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.site-header--active .site-header__toggle span:nth-child(4) {
    -webkit-transform: scale(0) translateY(-7px);
    -moz-transform: scale(0) translateY(-7px);
    -ms-transform: scale(0) translateY(-7px);
    -o-transform: scale(0) translateY(-7px);
    transform: scale(0) translateY(-7px)
}
.site-header__seperator {
    -webkit-transition: border-color 0.25s ease;
    -moz-transition: border-color 0.25s ease;
    -ms-transition: border-color 0.25s ease;
    -o-transition: border-color 0.25s ease;
    transition: border-color 0.25s ease;
    position: relative;
    margin: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.site-header--solid .site-header__seperator {
    border-color: white
}
.site-header--active .site-header__seperator {
    border-color: white
}


/*Utility*/

.content-space {
  display: block;
  height: 45px;
}

span.spacer-2 {
  margin: 0px 10em;
}

span.help-block.form-error {
  color: #FB0D1B;
  display: block;
}


/*Main content*/

.wrapper {
  max-width: 960px;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}

.lower {
  position: static;
}

.paragraph {
  color: #0A0A0A;
  font-size: 42px;
  line-height: 65px;
  font-family: 'NeueHaasUnicaPro-Regular', Helvetica, sans-serif;
}

.small {
  color:#444543;
  font-family: 'NeueHaasUnicaPro-Regular', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;

}


/*Menu*/

.site-header_drawer {
  display: block;
  width: 100%;
}

.site-header_more {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0s 0.25s ease,opacity 0.25s ease;
  position: fixed;
  top: 90px;
  right: 0;
  left: 0;
}

.site-header--active .site-header_more {
  opacity: 1;
  transition: height 0s,opacity 0.25s ease;
  bottom: 0;
  height: auto;
}

.site-header_more .container {
  padding-top: 45px;
}

h1.format {
  padding-left: 19px;

}

/*Entry Form*/

::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }

label {
  color: white;
  font-weight: normal;
  text-align: left !important;
  vertical-align: baseline;
  width: 15em !important;
  margin: 0 5em 0 0 !important;
}

.pure-form-aligned .pure-control-group {
  margin-bottom: 2.5em;
}

.pure-form input[type=text] {
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  border-bottom: 1px solid white;
  vertical-align: baseline;
  transition: all .5s ease-in-out;
  padding: 0px;
}

.select-33 {
  width: 33.333%;
}

.select-8 {
  width: 8%;
}

.pure-form-aligned .pure-controls {
    margin: 0px;
